{
  admin off
}

janie.page {
  file_server
  root * /var/www/html
}

ip.janie.page {
  templates
  header Content-Type text/plain
  respond "{{.RemoteIP}}"
  encode zstd gzip
}

gnuplex.janie.page {
  redir / https://github.com/janie314/gnuplex
  redir /install.sh https://raw.githubusercontent.com/janie314/gnuplex/refs/heads/main/install_files/install.sh
}
